/* Colors */
$blue: #0667d0;
$lightBlue: #f4f7fa;
$green: #8fdcb7;
$white: #ffffff;
$black: #1a1a1a;
$lightestGrey: #fafafa;
$lightGrey: #f7f7f7;
$mediumGrey: #e7e7e7;
$darkGrey: #d7d7d7;

/* Fonts */
$sansSerif: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", sans-serif;
$mono: "SF Mono", "Segoe UI Mono", "Roboto Mono", Menlo, Courier, monospace;

/* Other */
$borderRadius: 3px;
