.comment-list {
  list-style-type: none; 
  margin: 0 !important;
}

.comment-list-time {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  font-size: 12px;
  color: #999;
}

.comment-list figure {
  margin: 0;
}

.comment-list-avatar {
  border-radius: 50%;
}

.comment-list-content {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}