.commentList {
  margin-top: 25px;
}

.commentList__comment {
  display: flex;
  margin-bottom: 15px;
}

.commentList__avatar {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  margin-right: 12px;
}

.commentList__name {
  font-weight: bold;
}

.commentList__time {
  color: #b7b7b7;
  margin-bottom: 12px;
  font-size: 13px;
}
