.dashboardHeader {
  background-color: $lightBlue;
  border-bottom: 1px solid darken($lightBlue, 5%);
  padding: 24px 0;
}

.dashboardHeader__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboardHeader__start,
.dashboardHeader__end {
  display: flex;
  overflow: hidden;
  align-items: center;
  min-width: 0;
}

.dashboardHeader__end {
  flex-shrink: 0;
}

.dashboardHeader__title {
  font-size: 26px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dashboardHeader__actions {
  display: flex;
}

.dashboardHeader__action {
  margin-left: 10px;
}

@media(max-width: 700px) {
  .dashboardHeader__title {
    font-size: 22px;
  }

  .dashboardHeader__action {
    color: transparent;
    overflow: hidden;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-position: center;
    background-size: 16px;
    &:hover {
      transform: none;
    }
  }

  .dashboardHeader__action--select {
    background-image: url("../icons/chevron-down-white.svg");
  }

  .dashboardHeader__action--add {
    background-image: url("../icons/plus-white.svg");
  }
}