.datePicker {
  display: inline-block;
  background-color: $white;
  border-radius: $borderRadius;
  box-shadow: 1px 1px 10px rgba($black, 0.2);
  border: 1px solid darken($lightBlue, 5%);
}

.datePicker__actions {
  display: flex;
  padding: 10px;
  background-color: $lightBlue;
  border-top: 1px solid darken($lightBlue, 5%);
}

.datePicker__action {
  flex: 1;
}

.datePicker__action:first-child {
  margin-right: 5px;
}

.datePicker__action:last-child {
  margin-left: 5px;
}
