.header {
  background-color: $blue;
  color: $white;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.header__title {
  font-size: 20px;
  font-weight: bold;
}

.header__end {
  display: flex;
  align-items: center;
}

.header__user {
  margin-left: 10px;
  padding: 12px 20px 12px 0;
  background-image: url("../icons/chevron-down-white.svg");
  background-position: center right;
  background-size: 16px;
}

.header__avatar {
  border-radius: 50%;
  width: 30px;
}

.header__inviteButton {
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  padding: 0;
  outline: none;
  border: none;
  border-radius: 50%;
  background-color: $green;
  background-image: url("../icons/plus-white.svg");
  background-size: 16px;
  background-position: center;

  &:hover {
    background-color: lighten($green, 5%);
  }
}

.header__notifications {
  position: relative;
  background-color: rgba($lightBlue, 0.5);
  background-image: url("../icons/bell-blue.svg");
  background-position: center;
  background-size: 16px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: $blue;
  margin-left: 10px;
  margin: 12px 0;
  &:hover {
    background-color: rgba($lightBlue, 0.8);
  }
}

.header__notificationCount {
  background-color: $red;
  color: $white;
  display: block;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 12px;
  position: absolute;
  right: -2px;
  bottom: -2px;
}
