.newTask {
  display: flex;
  margin-bottom: 10px;
}

.newTask input {
  flex: 1;
  border-radius: 3px;
  background-color: #f7f7f7;
  border: 1px solid #e7e7e7;
  padding: 10px 16px;
}

.newTask input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.newTask input:focus {
  outline: none;
  border: 1px solid #0667d0;
}

.newTask button {
  background-color: #0667d0;
  color: #ffffff;
  padding: 10px 16px;
  border-radius: 3px;
  border: none;
  margin-left: 5px;
}
