.notifications {
  max-height: 380px;
  overflow-y: auto;
}

.notifications__notification {
  display: flex;
  align-items: flex-start;
  padding: 10px 15px 10px 15px;
}

.notifications__avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 15px;
}

.notifications__text {
  margin-top: 3px;
}
