.notification {
  display: flex;
  align-items: flex-start;
  padding: 10px 15px 10px 15px;
}

.notification__avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 15px;
}

.notification__text {
  margin-top: 3px;
}
