.settings__header {
  padding: 8px 0;
  margin-bottom: 25px;
  border-bottom: 2px solid $mediumGrey;
  display: flex;
  justify-content: space-between;
}

.settings__title {
  font-size: 32px;
}

.settings__form {
  flex: 0 1 400px;
}

.settings__gravatar {
  max-width: 120px;
  margin-left: 25px;
  background-color: $white;
  border-radius: $borderRadius;
  border: 1px solid $mediumGrey;
  overflow: hidden;
  .button {
    width: 100%;
    border-radius: 0;
  }
}

.settings__gravatarImg {
  display: block;
  width: 100%;
}
