.tasks {
  margin-bottom: 30px;
}

.tasks__heading {
  padding: 5px 10px;
  display: inline-block;
  background-color: $lightBlue;
  border: 1px solid darken($lightBlue, 5%);
  color: $blue;
  border-radius: $borderRadius;
}

.tasks__heading a:hover {
  text-decoration: underline;
}