.taskList__task {
  padding: 10px 15px;
  border-radius: 3px;
  margin-bottom: 2px;
  background: #ffffff;
  border: 1px solid #e7e7e7;
  display: flex;
  align-items: center;
}

.taskList__task--completed {
  text-decoration: line-through;
}

.taskList__checkbox {
  margin-right: 15px;
}

.taskList__link {
  text-decoration: underline;
  &:hover {
    color: #0667d0;
  }
}

.taskList__task--completed .taskList__link:not(:hover) {
  color: #c7c7c7;
}

.taskList--subtasks {
  .taskList__task {
    border-radius: 0px;
    background: none;
    border: none;
    border-bottom: 1px solid #e7e7e7;
  }
}
