.task {
  background-color: $white;
  border: 1px solid $mediumGrey;
  border-radius: $borderRadius;
}

.task__header {
  border-bottom: 2px solid $mediumGrey;
  padding: 10px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task__body {
  padding: 16px;
}

.task__footer {
  padding: 16px;
  background-color: lighten($lightBlue, 2%);
  border-top: 1px solid darken($lightBlue, 3%);
}

.task__nameWrap {
  display: flex;
  align-items: center;
}

.task__checkbox {
  margin-right: 15px;
}

.task__actions {
  display: flex;
  align-items: center;
}

.task__dueDate {
  position: relative;
  border: 1px solid $lightBlue;
  border-radius: $borderRadius;
  padding: 4px 12px 4px 34px;
  background-color: $lightBlue;
  background-image: url("../icons/calendar.svg");
  background-position: 10px calc(50% - 2px);
  background-size: 16px;
  font-size: 14px;
  cursor: pointer;
  &:hover {
    border-color: lighten($blue, 30%);
  }
}

.task__datePicker {
  position: absolute;
  z-index: 3;
  right: 0;
  top: 40px;
}

.task__user {
  position: relative;
  width: 35px;
  height: 35px;
  border: 1px solid $mediumGrey;
  background-image: url("../icons/user-grey.svg");
  background-position: center;
  background-size: 20px;
  border-radius: 50%;
  margin-left: 8px;
  cursor: pointer;
  &:hover {
    background-color: $lightGrey;
  }
}

.task__userAvatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.task__userPicker {
  position: absolute;
  z-index: 3;
  right: 0;
  top: 40px;
}

.task__follow {
  width: 35px;
  height: 35px;
  border: 1px solid $mediumGrey;
  background-image: url("../icons/bell-off-grey.svg");
  background-position: center;
  background-size: 20px;
  border-radius: 50%;
  margin-left: 8px;
  cursor: pointer;
  &:hover {
    background-color: $lightGrey;
  }
}

.task__follow--active {
  background-color: lighten($blue, 10%);
  background-image: url("../icons/bell-white.svg");
  border-color: $blue;
  &:hover {
    background-color: $blue;
  }
}

@media(max-width: 600px) {
  .task__header {
    flex-direction: column;
    align-items: flex-start;
  }

  .task__nameWrap {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid $lightGrey;
    width: 100%;
  }

  .task__actions {
    width: 100%;
  }

  .task__dueDate {
    margin-right: auto;
  }

  .task__datePicker {
    position: absolute;
    z-index: 3;
    right: -160px;
    top: 40px;
  }
}