.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f7f7f7;
  min-height: 100vh;
  padding: 20px;
}

.auth__box {
  background: #ffffff;
  width: 500px;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #e7e7e7;
}