.auth {
  margin-top: 60px;
}

.auth-heading {
  margin-bottom: 5rem;
}

.auth-box {
  width: 100%;
}

.auth-box .avatar {
  margin: -70px auto 20px auto;
  display: block;
  width: 120px;
  height: 120px;
  text-align: center;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-box .avatar img {
  width: 60%;
  height: 60%;
}