@import "../../assets/stylesheets/variables.scss";

.dashboard-main {
  display: flex;
  justify-content: center;
  padding: 15px 0;
}

.dashboard-main__item {
  background: #ffffff;
  flex: 0 1 500px;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid $grey;
  margin: 15px;
}