.users-list {
  display: flex;
  margin-left: auto;
}

.users-list-users {
  display: flex;
}

.users-list-user {
  margin-left: 5px;
  width: 36px;
  height: 36px;
}

.users-list-avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.users-list-add {
  border-radius: 50%;
}