.content {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  align-items: flex-start;
}

.content--flat {
  padding-top: 0;
  padding-bottom: 0;
}

.content--center {
  justify-content: center;
}

.content--stacked {
  flex-direction: column;
}

.content--stacked.content--center {
  justify-content: flex-start;
  align-items: center;
}

.content__col {
  margin-left: 12px;
  margin-right: 12px;
}

.content__col:first-child {
  margin-left: 0;
}

.content__col:last-child {
  margin-right: 0;
}

.content__col--half {
  flex: 50%;
  max-width: 50%;
}

.content__col--menu {
  flex-basis: 250px;
}

.content__col--fill {
  flex: 1;
}

@media (max-width: 950px) {
  .content__col--half {
    flex-basis: 100%;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 800px) {
  .content--collapse {
    flex-direction: column;
    align-items: stretch;
  }
}

