.authBox {
  position: relative;
  background-color: $white;
  border-radius: $borderRadius;
  width: 400px;
  margin-top: 50px;
  border: 1px solid darken($lightBlue, 5%);
}

.authBox__header {
  padding-top: 70px;
  padding-bottom: 20px;
  background-color: $lightBlue;
}

.authBox__body {
  padding: 30px 20px;
}

.authBox__icon {
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: $lightGrey;
  background-position: center;
  background-size: 80px;
  border: 3px solid $white;
  box-shadow: 0 0 0 2px $mediumGrey;
}

.authBox__icon--user {
  background-image: url("../icons/user-grey.svg");
}

.authBox__title {
  text-align: center;
  font-weight: bold;
}

@media (max-width: 450px) {
  .authBox {
    width: 100%;
  }
}
