.authBox {
  position: relative;
  background-color: $white;
  border-radius: $borderRadius;
  width: 500px;
  border: 1px solid darken($lightBlue, 5%);
}

.authBox__header {
  padding: 18px 25px;
  border-bottom: 1px solid $lightBlue;
}

.authBox__body {
  padding: 30px 25px;
}

.authBox__title {
  font-weight: bold;
}

@media (max-width: 550px) {
  .authBox {
    width: calc(100vw - 40px);
  }
}
