$button-colors: (
  blue: $blue,
  green: $green,
  grey: $mediumGrey
);

.button {
  appearance: none;
  position: relative;
  border: none;
  border-radius: $borderRadius;
  display: inline-block;
  cursor: pointer;
  padding: 8px 16px;
}

.button:disabled {
  background-color: $lightGrey !important;
  color: $black !important;
  cursor: not-allowed;
  opacity: 0.5;
}

@each $name, $color in $button-colors {
  .button--#{$name} {
    background-color: $color;
    color: contrast($color);
    text-shadow: 1px 1px 2px rgba(invertContrast($color), 0.5);

    &:hover {
      background-color: lighten($color, 5%);
    }

    &:active {
      background-color: darken($color, 5%);
    }

    &.button--loading:before {
      border-color: rgba(contrast($color), 0.15);
      border-top-color: contrast($color);
    }
  }
}

.button--loading {
  color: transparent;
  text-shadow: none;
  user-select: none;
  &:before {
    content: "";
    position: absolute;
    left: calc(50% - 0.5em);
    top: calc(50% - 0.5em);
    width: 1em;
    height: 1em;
    border: 2px solid rgba($black, 0.15);
    border-top: 2px solid $black;
    border-radius: 50%;
    animation: buttonLoadingAnimation 0.6s linear infinite;
  }
}

@keyframes buttonLoadingAnimation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
