.has-dropdown {
  position: relative;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  right: -50%;
  top: 100%;
  background-color: $white;
  color: $black;
  width: 300px;
  border-radius: $borderRadius;
  box-shadow: 1px 1px 10px rgba($black, 0.2);
  border: 1px solid darken($lightBlue, 5%);
  z-index: 2;
}

.dropdown--headerMenu {
  right: -22px;
}

.dropdown:before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: -6px;
  right: 22px;
  background-color: $white;
  transform: rotate(45deg);
  z-index: -1;
}

.dropdown__item {
  border-bottom: 1px solid $lightGrey;
}

.dropdown__item:last-child {
  border-bottom: none;
}

.dropdown__item--divider {
  border-bottom: 2px solid $mediumGrey;
}

.dropdown__link {
  display: block;
  padding: 10px 15px 10px 50px;
  background-size: 16px;
  background-position: 15px center;
  cursor: pointer;
  &:hover {
    background-color: $lightBlue;
  }
}

.dropdown__link--home {
  background-image: url("../icons/home.svg");
}

.dropdown__link--check {
  background-image: url("../icons/check-circle.svg");
}

.dropdown__link--settings {
  background-image: url("../icons/settings.svg");
}

.dropdown__link--logout {
  background-image: url("../icons/log-out.svg");
}
