.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
}

.modal__box {
  position: relative;
  background: $white;
  z-index: 2;
  width: 500px;
  border-radius: $borderRadius;
  overflow: hidden;
}

.modal__header {
  border-bottom: 1px solid $mediumGrey;
  background-color: $lightBlue;
  padding: 10px 16px;
}

.modal__search {
  position: relative;
  width: 100%;
  padding: 10px 16px 10px 48px;
  background-color: $lightGrey;
  border: none;
  border-radius: 0;
  border-top: 1px solid $mediumGrey;
  border-bottom: 1px solid $mediumGrey;
  background-image: url("../icons/search-grey.svg");
  background-position: 16px center;
  background-size: 22px;
  z-index: 2;
}

.modal__body {
  padding: 16px;
}
