.task-list-task {
  align-items: center;
}

.task-list-checkbox {
  width: 30px;
}

.task-list-task {
  font-size: 20px;
}

.task-list-task.is-completed {
  text-decoration: line-through;
}

.task-list-task.is-active {
  background: rgba(#209CEE, 0.1) !important;
}