@import "base/variables";
@import "base/normalize";
@import "base/defaults";

.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f7f7f7;
  min-height: 100vh;
  padding: 20px;
}

.auth__box {
  background: #ffffff;
  width: 500px;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #e7e7e7;
}

.form__text-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  label {
    margin-bottom: 10px;
  }
}

.modal {
  background: rgba(#000, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal__box {
  background: #fff;
}
